/* Estilos para el encabezado */
html{
    background-color: #777;
    height: 100%;
    width: 100%;
}
body{
    bottom: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    top: 0;
}

main{
    padding-left: 12%;
    padding-top: 4%;
    height: 100%;
}

.cabecero {
    position: fixed;
    left: 0%;             
    top: 0;
    width: 100%;
    height: 20%;
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    display: grid;
    grid-template-columns: 80% 1fr;
    grid-template-rows: 80%;
    
}

.cabecero-main{
    width: 100%;
    height: 100%;
    padding-left: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.cabecero-foto{
    width: 1fr;
    height: 100%;
}

.imagen-borde {
                 
    width: 100%;
    height: 100%;
    margin: 20px;        
    float: right;
    
}

#iconoPagina img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

/* Barra de navegación */
.navbarIndex {
    position: fixed;
    top: 0; 
    left: 0;
    width: 10%;
    background-color: #444;
    padding: 1%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.iconos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 15%;
}
.links-internos{
    display: flex;
    flex-direction: column;
}

.navbarIndex a:hover {
    text-decoration: underline;
    color: white;
}
a:visited {
    color: #777;
}

/* Contenido de los artículos */
.add-onsDerecha {
    float: left;
    margin-top: 1.3%;
    padding: 3%;
    border: 5px solid black;
    display: flex;
    flex-direction: column;
}

.add-onsDerecha h2 {
    color: #333;
}

/* fotos de articulos */
.add-onsDerecha img {
    width: 10%;
    height: auto;
    margin-bottom: 10px;
    float: left;
    
}

.add-onsDerecha p{
    padding: 5%;
    margin-left: 10%;
}
/* Enlace de volver arriba */
#arriba {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

ul{
    height: 100%;
}

#arriba:hover {
    background-color: #555;
}

a{
    text-decoration: none;
    margin-top: 20%;
    color: #777;
}

.img-articulo{
    width: 10px;
}

.add-onsDerecha{
    width: 93%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: -0.2%;
}

.links-internos{
    text-align: center;
}

#articuloUno{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url('./fotos/img1.jpg');
}
#articuloDos{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url('./fotos/img1.jpg');
}
#articuloTres{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url('./fotos/img1.jpg');
}
#articuloForm{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url('./fotos/img1.jpg');
}

@media screen and (max-width: 768px) { /*como si fuera para moviles, reducimos la letra y ponemos el flex en columna */
    body {
      /* color: aqua; */
    }

    

    main {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }

  

  @media screen and (max-width: 900px) {

    h4{
        font-size: 10px;
    }

  }
  @media screen and (max-width: 768px) {

    a.navA{
        font-size: 10px;
        /* background-color: aqua; */
        
    }
    h4{
        font-size: 7px;
    }
    
  }